resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.resume h2 {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.resume .buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume .resume-link {
    padding: 10px 20px;
    border: none;
    background-color: #2980b9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.resume .resume-link:hover {
    background-color: #3498db;
}

.resume .skill-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume .skill-card h3 {
    margin-bottom: 5px;
}

.resume .skill-card ul {
    list-style-type: none;
    padding: 0;
}

.resume .skill-card ul li {
    margin-bottom: 5px;
}